In [1]:
import pandas as pd
df=pd.read_csv('Car data.csv')
df.head()

,Name,Min Price (Lakh),Max Price (Lakh),Range (kmpl),CC,Seats,Variants,Type,Ex-Showroom Price,RTO,Insurance,Other,Onroad Price
0,Mahindra Thar,11.35,17.60,15.20,1497,4,19,Petrol,1430000,143000.0,84367.0,14300,"16,71,667"
1,Maruti Swift,6.49,9.60,24.80,1197,5,11,Petrol,649000,46240.0,27791.0,5485,"7,28,516"
2,Mahindra Scorpio,13.62,17.42,22.00,2184,7,4,Diesel,1361600,175000.0,85943.0,27532,"16,50,075"
3,Tata Punch,6.13,10.20,20.09,1199,5,25,Petrol,612900,42903.0,35311.0,0,"6,91,114"
4,Hyundai Creta,11.00,20.15,17.40,1497,5,28,Petrol,1099900,116863.0,45300.0,11599,"12,73,662"

In [2]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Type']=le.fit_transform(df['Type'])
df

,Name,Min Price (Lakh),Max Price (Lakh),Range (kmpl),CC,Seats,Variants,Type,Ex-Showroom Price,RTO,Insurance,Other,Onroad Price
0,Mahindra Thar,11.35,17.60,15.20,1497,4,19,1,1430000,143000.0,84367.000,14300,"16,71,667"
1,Maruti Swift,6.49,9.60,24.80,1197,5,11,1,649000,46240.0,27791.000,5485,"7,28,516"
2,Mahindra Scorpio,13.62,17.42,22.00,2184,7,4,0,1361600,175000.0,85943.000,27532,"16,50,075"
3,Tata Punch,6.13,10.20,20.09,1199,5,25,1,612900,42903.0,35311.000,0,"6,91,114"
4,Hyundai Creta,11.00,20.15,17.40,1497,5,28,1,1099900,116863.0,45300.000,11599,"12,73,662"
5,Mahindra XUV700,13.99,26.04,15.00,1999,5,49,1,1399000,139900.0,83172.000,13990,"16,36,062"
6,Tata Nexon,8.00,15.80,17.44,1199,5,100,1,799990,55999.0,42196.000,0,"8,98,185"
7,Maruti Brezza,8.34,14.14,17.38,1462,5,15,1,834000,59210.0,33849.000,5485,"9,32,544"
8,Mahindra XUV 3XO,7.49,15.49,18.89,1197,5,25,1,749000,52430.0,40320.000,0,"8,41,750"
9,Toyota Fortuner,33.43,51.44,10.00,2694,7,7,1,3343000,334300.0,166175.000,33830,"38,77,305"
10,Mahindra Bolero,9.79,10.91,16.00,1493,7,3,0,979400,90497.5,42150.656,300,"11,12,348"
11,Toyota Innova Crysta,19.99,26.55,20.00,2393,8,7,0,1999000,249875.0,106309.000,19990,"23,75,174"
12,Maruti Ertiga,8.69,13.03,20.51,1462,7,9,1,869000,61660.0,32520.000,5485,"9,68,665"
13,Land Rover Defender,97.00,285.00,9.20,1997,5,24,1,9700000,970000.0,403278.000,97000,"1,11,70,278"
14,Maruti FRONX,7.51,13.04,21.79,1197,5,16,1,751500,53405.0,30141.000,4500,"8,39,546"
15,Maruti Baleno,6.66,9.83,22.35,1197,5,9,1,666000,47420.0,33850.000,4500,"7,51,770"
16,Land Rover Range Rover,2.36,260.00,13.16,2997,5,2,0,23600000,2950000.0,939295.000,236000,"2,77,25,295"
17,Hyundai Exter,6.13,10.43,19.40,1197,5,26,1,612800,50309.0,34300.000,600,"6,98,009"
18,Tata Harrier,14.99,26.44,16.80,1956,5,25,0,1499000,187375.0,87028.000,14990,"17,88,393"
19,Mahindra Scorpio N,13.85,24.54,19.00,1997,7,34,1,1385199,143320.0,70852.000,14151,"16,13,522"
20,Kia Seltos,10.90,20.37,17.00,1497,5,28,1,1089900,108990.0,25916.000,17719,"12,42,525"

In [3]:
x=df[['Type']]
y=df[['RTO']]
x

    Type
0      1
1      1
2      0
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     0
11     0
12     1
13     1
14     1
15     1
16     0
17     1
18     0
19     1
20     1

In [4]:
y

          RTO
0    143000.0
1     46240.0
2    175000.0
3     42903.0
4    116863.0
5    139900.0
6     55999.0
7     59210.0
8     52430.0
9    334300.0
10    90497.5
11   249875.0
12    61660.0
13   970000.0
14    53405.0
15    47420.0
16  2950000.0
17    50309.0
18   187375.0
19   143320.0
20   108990.0

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)
X_train

    Type
1      1
9      1
17     1
12     1
5      1
2      0
4      1
14     1
10     0
16     0
15     1
7      1
3      1
8      1

In [6]:
X_test

    Type
18     0
20     1
11     0
19     1
13     1
6      1
0      1

In [7]:
y_train

          RTO
1     46240.0
9    334300.0
17    50309.0
12    61660.0
5    139900.0
2    175000.0
4    116863.0
14    53405.0
10    90497.5
16  2950000.0
15    47420.0
7     59210.0
3     42903.0
8     52430.0

In [8]:
y_test

         RTO
18  187375.0
20  108990.0
11  249875.0
19  143320.0
13  970000.0
6    55999.0
0   143000.0

In [9]:
X_train.shape

(14, 1)

In [10]:
X_test.shape

(7, 1)

In [11]:
y_train.shape

(14, 1)

In [12]:
y_test.shape

(7, 1)

In [17]:
from sklearn.preprocessing import StandardScaler
sl=StandardScaler()
df[['Type']]=sl.fit_transform(df[['Type']])

In [23]:
from sklearn import tree
model=tree.DecisionTreeRegressor()
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [25]:
y_pred=model.predict(X_test)
y_pred

array([1071832.5       ,   91330.90909091, 1071832.5       ,
         91330.90909091,   91330.90909091,   91330.90909091,
         91330.90909091])