In [5]:
import pandas as pd
# one_hot_encoding
df=pd.DataFrame({'Fruits':['apple','banana','orange','kiwi','pineapple']})
print('DataFrame before encoding')
print(df['Fruits'])
one_hot=pd.get_dummies(df['Fruits'])
print('DataFrame after encoding')
one_hot

DataFrame before encoding
0        apple
1       banana
2       orange
3         kiwi
4    pineapple
Name: Fruits, dtype: object
DataFrame after encoding

   apple  banana   kiwi  orange  pineapple
0   True   False  False   False      False
1  False    True  False   False      False
2  False   False  False    True      False
3  False   False   True   False      False
4  False   False  False   False       True

In [15]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print('Befor encoding')
print(df['Fruits'])
df['fruits_label']=le.fit_transform(df['Fruits'])
print('After encoding')
df

Befor encoding
0        apple
1       banana
2       orange
3         kiwi
4    pineapple
Name: Fruits, dtype: object
After encoding

      Fruits  fruits_label
0      apple             0
1     banana             1
2     orange             3
3       kiwi             2
4  pineapple             4

In [21]:
# Data set
# one_hot encoding
df=pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv')
print(f'before encoding \n{df.head(18)}')
# category_column=['columns']
one_hot=pd.get_dummies(df,'country')
print('\nafter encoding')
one_hot.head()

before encoding
    Rank            Country  Cost of Living Index  Rent Index  \
0      1        Switzerland                 101.1        46.5
1      2            Bahamas                  85.0        36.7
2      3            Iceland                  83.0        39.2
3      4          Singapore                  76.7        67.2
4      5           Barbados                  76.6        19.0
5      6             Norway                  76.0        26.2
6      7            Denmark                  72.3        26.4
7      8  Hong Kong (China)                  70.8        59.4
8      9      United States                  70.4        41.7
9     10          Australia                  70.2        33.4
10    11            Austria                  65.1        22.5
11    12             Canada                  64.8        33.2
12    13        New Zealand                  64.6        25.9
13    14            Ireland                  64.4        42.3
14    15             France                  63.7        21.0
15    16        Puerto Rico                  63.3        19.5
16    17            Finland                  63.2        19.7
17    18        Netherlands                  63.1        33.5

    Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                             74.9            109.1                    97.0
1                             61.8             81.6                    83.3
2                             62.0             88.4                    86.8
3                             72.1             74.6                    50.4
4                             48.9             80.8                    69.4
5                             52.1             79.0                    73.5
6                             50.2             64.8                    81.3
7                             65.3             84.6                    46.2
8                             56.6             75.0                    67.2
9                             52.5             77.3                    62.5
10                            44.7             66.4                    59.3
11                            49.6             71.2                    61.7
12                            46.0             71.9                    57.1
13                            53.8             59.3                    65.3
14                            43.2             69.5                    56.3
15                            42.3             64.1                    53.1
16                            42.4             63.0                    63.6
17                            48.9             59.9                    61.2

    Local Purchasing Power Index
0                          158.7
1                           54.6
2                          120.3
3                          111.1
4                           43.5
5                          114.7
6                          127.2
7                          109.3
8                          142.3
9                          127.4
10                         102.4
11                         103.7
12                         121.0
13                         101.1
14                         102.4
15                         103.5
16                         118.0
17                         124.9

after encoding

,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,country_Albania,country_Algeria,country_Argentina,...,country_Uganda,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan,country_Venezuela,country_Vietnam,country_Zimbabwe
0,1,101.1,46.5,74.9,109.1,97.0,158.7,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,85.0,36.7,61.8,81.6,83.3,54.6,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,83.0,39.2,62.0,88.4,86.8,120.3,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,76.7,67.2,72.1,74.6,50.4,111.1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,76.6,19.0,48.9,80.8,69.4,43.5,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
# dummy encoding
dummy=pd.get_dummies(df,'country',drop_first=True)
print('after encoding')
dummy

after encoding

,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,country_Algeria,country_Argentina,country_Armenia,...,country_Uganda,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan,country_Venezuela,country_Vietnam,country_Zimbabwe
0,1,101.1,46.5,74.9,109.1,97.0,158.7,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,85.0,36.7,61.8,81.6,83.3,54.6,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,83.0,39.2,62.0,88.4,86.8,120.3,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,76.7,67.2,72.1,74.6,50.4,111.1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,76.6,19.0,48.9,80.8,69.4,43.5,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,22.5,2.4,12.8,25.7,12.8,33.1,False,False,False,...,False,False,False,False,False,False,False,False,False,False
117,118,21.2,5.6,13.7,23.8,15.1,82.6,False,False,False,...,False,False,False,False,False,False,False,False,False,False
118,119,21.0,3.7,12.7,21.2,16.2,20.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119,120,20.4,4.3,12.7,22.2,15.2,42.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
120,121,18.8,2.8,11.1,17.5,12.9,29.1,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [43]:
# label encoding
df=pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv')
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Country']=le.fit_transform(df['Country'])
print(df.head())

   Rank  Country  Cost of Living Index  Rent Index  \
0     1      103                 101.1        46.5
1     2        7                  85.0        36.7
2     3       45                  83.0        39.2
3     4       95                  76.7        67.2
4     5       10                  76.6        19.0

   Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                            74.9            109.1                    97.0
1                            61.8             81.6                    83.3
2                            62.0             88.4                    86.8
3                            72.1             74.6                    50.4
4                            48.9             80.8                    69.4

   Local Purchasing Power Index
0                         158.7
1                          54.6
2                         120.3
3                         111.1
4                          43.5